/*reset - yui 3*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

/*fonts*/
@font-face {
  font-family: 'oswaldbold';
  src: url('fonts/oswald-bold-webfont.eot');
  src: url('fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-bold-webfont.woff') format('woff'),
       url('fonts/oswald-bold-webfont.ttf') format('truetype'),
       url('fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'oswaldlight';
  src: url('fonts/oswald-light-webfont.eot');
  src: url('fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-light-webfont.woff') format('woff'),
       url('fonts/oswald-light-webfont.ttf') format('truetype'),
       url('fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'oswaldbook';
  src: url('fonts/oswald-regular-webfont.eot');
  src: url('fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-regular-webfont.woff') format('woff'),
       url('fonts/oswald-regular-webfont.ttf') format('truetype'),
       url('fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'oswald_stencilregular';
  src: url('fonts/oswald-stencil-webfont.eot');
  src: url('fonts/oswald-stencil-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-stencil-webfont.woff') format('woff'),
       url('fonts/oswald-stencil-webfont.ttf') format('truetype'),
       url('fonts/oswald-stencil-webfont.svg#oswald_stencilregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

html, body {
  width: 100%;
  height: 100%;
  background:#1e1e1e;
  color:#fff;
  font-family: 'Helvetica-Neue', 'Helvetica', 'Arial', 'sans-serif';
}

em {
  font-style: italic;
}

.disabled { display:none; }

.user-interface {
  position:relative;
  width:960px;
  margin: 0 auto;
  border-top:#cc3d17 3px solid;
}

.row {
  position: relative;
  clear:both;
  width: 100%;
  display: block;
  border-bottom:#464646 1px solid;
}

  .row.header {
    position: relative;
    top:0;
    left:0;
    z-index:2;
  }
.column {
  position: relative;
  display:inline-block;
  vertical-align: top;
  width:284px;
  border-left: #464646 1px solid;
}

  .row.header .column{
    width:674px;
    height:70px;
    background:#1e1e1e;
    opacity: 0.9;
  }

.font-red {color:#e6451a;}
.font-grey {color:#acacac;}
.font-blue {color:#4caac7;}


.header * {
  opacity: 1.0;
}

.header .border-top {
  opacity: 1.0;
  display:block;
  width:100%;
  height:0;
  border-top:#cc3d17 3px solid;
}

.header h1 {
  margin:10px 0 0 40px;
  font: 24px 'oswaldbook';
}

.header p {
  font-size:16px;
  margin:0 0 16px 40px;
}

.row.canvas {
  z-index: 1;
  position: relative;
  top:-70px;
  height:640px;
}

#map-canvas.column {
  display:block;
  float:left;
  width:674px;
  height:100%;
  z-index: 1;
}

.column.sidebar {
  background:#636363;
  height:100%;
  overflow: hidden;
  z-index: 2;
}

  .sidebar .content {
    position: absolute;
    top:90px;
    margin:0 24px;
  }

  .content .section {
    display:none;
  }

    .content .section.active { display:block; }

  .content h2 {
    font:20px 'oswaldbook';
    margin-bottom:18px;
  }

  .content p {
    margin-bottom:18px;
    font-size: 16px;
  }

.legend {
  position: absolute;
  bottom:40px;
  left: 40px;
  z-index: 2;
}

.back-to-region {
  position: absolute;
  bottom: 40px;
  right:323px;
  z-index: 2;
  cursor:pointer;
}

.site-video {
  position:absolute;
  bottom:90px;
  right:323px;
  z-index: 2;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top:80px;
  left:50%;
  margin:0 -412px;
  border:6px solid #4c4c4c;
  z-index: 3;
}

.close {
  position:absolute;
  top:-20px;
  right:-20px;
  cursor: pointer;
  opacity: 1.0;
  display:block;
  z-index: 4;
}

.overlay .content {
  position: relative;
  width:824px;
  height:538px;
  background:#fdfdfd;
  border:1px solid #000;
  color:#000;
}


  .overlay .bird-img {
    position: absolute;
    top:0;
    left:0;
    background:url(images/bg.species.png) 0 0 no-repeat;
    width:535px;
    height:538px;
  }
    .bird-img img {
      display: block;
      margin:45px 0 0 43px;
    }
    .bird-img .credit,
    #media p.credit {
      position: absolute;
      display: block;
      bottom:10px;
      left:30px;
      margin-bottom:0;
      color:#959595;
      font-size: 12px;
    }

      #media p.credit {z-index: 1;}

  .overlay .information {
    margin:32px 32px 32px 535px;

  }

  .overlay .information h2 {
    margin:0;
  }

  .overlay p.scientific {
    font-style: italic;
  }

  .overlay p {
    color:#636363;
  }

  .overlay .video, .overlay .audio {
    position: absolute;
    right:72px;
    display:block;
    text-indent: -999em;
    width:181px;
    height:41px;
  }

  .overlay .video {background: url(images/button.video.png) 0 0 no-repeat; bottom:100px;}
  .overlay .audio {background: url(images/button.song.png) 0 0 no-repeat; bottom:45px;}
  .overlay .audio.call {background: url(images/button.call.png) 0 0 no-repeat; bottom:45px;}
  .overlay .audio.lekking {background: url(images/button.lekking.png) 0 0 no-repeat; bottom:45px;}

  /*for multiple songs*/
  .overlay .audio.multiple {
    position: relative;
    left:40px;
    right:auto;
    bottom: auto;
    margin:10px 0;
    padding:6px 0 14px 81px;
    width:100px;
    height:21px;
    text-indent: 0;
    background: url(images/button.song-custom.png) 0 0 no-repeat;
    color:#fff;
    text-decoration: none;
    font: 18px 'oswaldbook';
    vertical-align: center;
  }


#media .content {
  width:753px;
  height:538px;
  background:#fdfdfd url(images/bg.video.png) 0 0 no-repeat;
}

#media.overlay {
  z-index:6;
  position: absolute;
}

#media .video-player {
  position:relative;
  top:77px;
  left:69px;
}
#media audio {
  position: relative;
  top:50%;
  display:block;
  margin:0 auto;
}

#media .xeno-player {
  position: relative;
  top:50%;
  display:block;
  width:500px;
  height:210px;
  margin:-105px auto;
}

#media h2 {
  position:absolute;
  top:15px;
  width:100%;
  text-align: center;
}


.overlay-bg {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:0.8;
  z-index:5;
}

.next {color:#fff;}




